.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin: auto auto;
    width: max-content;
    margin-top: 2rem;
}

.item{
    width: 17vw;
    height: max-content;
    padding-block: 1rem;
    box-shadow: 1px 1px 12px #dbdbdb8c;
    border-radius: 10px;
    text-align: center;
    background: #ffffffa1;
}
.search-barre{
    height: 5vh;
    margin-left: 2rem;
    border-bottom: 1px solid #c9c9c9;
}
.user-img-list{
    margin: 1rem auto;
}
.modal{
    margin: 0 auto;
}
.modal-content{
    margin: 0 auto;
    justify-content: center;
    display: flex;
}
.user-progress{
    width: 45%;
}
.user-details{
    width: 45%;
    text-align: center;
}
.employee-img-container{
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    margin: 1rem auto;
}
.employee-img{
    width: 100%;
    height: 100%;
}
.admin-action{
    display: flex;
    justify-content: flex-end;
    width: 90%;
    align-items: center;
    height: 35px;
    margin: 0 auto;
    gap: 10px;
    margin-bottom: 1rem;
}
.actions{
    border: 1px solid #c9c9c9;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-inline: 1rem;
}
.user-info{
    text-align: left;
    margin-left: 4.5rem;
    margin-block: 1rem;
}